# Default values for funcx.
# This is a YAML-formatted file.

# If this is provided, it must follow the example shown in example_secrets.yaml
# The chart will mount environment variables from here into the app.
secrets:

ingress:
  enabled: false
  host: uc.ssl-hep.org

storage:
  s3Bucket: funcx
  redisThreshold: 20000
  awsSecrets:
  s3ServiceAccount:

webService:
  image: funcx_web_service
  tag: develop
  pullPolicy: IfNotPresent
  loglevel: DEBUG
  advertisedRedisPort: 6379
  advertisedRedisHost: localhost
  replicas: 1

endpoint:
  enabled: false

forwarder:
  enabled: true
  image: funcx/forwarder
  tag: dev
  pullPolicy: Never
  tasksPort: 55001
  resultsPort: 55002
  commandsPort: 55003

containerService:
  enabled: false
  image: funcx/container-service
  tag: restore_docker_push
  pullPolicy: IfNotPresent
  replicas: 1

# External services - these should be included for development environment
# but on EKS we usually use the Amazon supported services
services:
  postgres:
    enabled: true
    externalURI: sqlite:////sqlite/app.db
  redis:
    enabled: true
    externalHost:
    externalPort: 6379
  rabbitmq:
    enabled: false
    externalURI: amqp://funcx:rabbitmq@manual-rabbitmq:5672/
    externalHost: manual-rabbitmq

postgresql:
  image:
    repository: bitnami/postgresql
    tag: latest
    pullPolicy: IfNotPresent
  postgresqlUsername: funcx
  postgresqlPassword: leftfoot1
  postgresqlDatabase: public

  persistence:
    enabled: false

redis:
  image:
    repository: bitnami/redis
    tag: latest
    pullPolicy: IfNotPresent
  usePassword: false
  master:
    persistence:
      enabled: false
  slave:
    persistence:
      enabled: false
  extraArgs: [] 

# rabbitmq:
#   auth:
#     username: funcx
#     password: rabbitmq
#   persistence:
#     enabled: false

websocketService:
  image: funcx_websocket_service
  tag: develop
  pullPolicy: Never
